/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #848dc6;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #848dc6;
    color: white;
  }

  .iframe{
      width: 100%;
      height: 100%;
      float: left;
  }

   .class{
       background-color: #848dc6 !important;
   }

  table {
    /* display: block; */
    /* height: 250px; */
    /* overflow: scroll; */
    z-index: 2;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-50%, -50%); */
    /* width: 60%; */
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
    border-radius: 12px 12px 12px 12px;
    /* padding: 5px; */

  }

  td,
  th {
    padding: 15px 20px;
    text-align: center;
  }

  th {
    /* background-color: #46154e; */
    background-image: linear-gradient(135deg, #848dc6 10%, #848dc6 100%);
    color: #fafafa;
    font-family: "Open Sans", Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
  }

  tr {
    width: 100%;
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
  }

  tr:nth-child(even) {
    background-color: #eeeeee;
  }
  h1{
    font-size: 1px;
    font-style: "Poppins", sans-serif;
    /* font-weight: bold; */
  }


  /* The Modal (background) */
  .modalSP {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
  .modal-contentSP {
    position: absolute;
    background-color: #fefefe;
    /* margin: auto; */
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  /* The Close Button */
  .close {
    color: white;
    /* float: right; */
    font-size: 22px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-headerSP {
    padding: 2px 16px;
    /* background-color: #5cb85c; */
    color: white;
  }
  .modal-bodySP {padding: 2px 16px;}
  .modal-footerSP {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 10%;
    border: none;
    /* text-align: left; */
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    border: 0.9px solid black;
    /* border-radius: 1px; */
  }

  .active, .accordion:hover {
    /* width: 100%; */
    background-color: #ccc; 
  }

  .panel {
    padding: 0 0;
    /* width: 10%; */
    display: none;
    background-color: white;
    overflow: hidden;
    /* border: 0.1px solid black;  */
    font-size: 16px;
  }
  button:focus{
    outline: none;
  }
  

  /* Author : Sai Krishna */
  .dialogoverlay{
    display: none;
    opacity: .8;
    position: 50%;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 2;
  }

  .modal{
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    max-height: 20%;
    transform: translate(-50%,-50%);
    border: 1px solid red;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
    max-width: 80%;
  }

  .modal-header{
    padding: 10px 15px;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;
    text-align: center;
  }

  .modal-foot{
    align-content: center;
    padding: 10px 15px;
  }
  .modal-body{
    padding: 10px 15px;
  }

  #overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;

  }